NORMAL_USER='root'
EMAIL='email@gmail.com'

GRUB_USER=$NORMAL_USER
DRACUT_SSH_PORT='22'
LAN_ADDR='192.168.1.10'
GATEWAY='192.168.1.1'
MAC_ADDRS='00:25:90:00:25:90,00:25:90:00:25:90'

AUDIT_EMAIL=$EMAIL
ZFS_EMAIL=$EMAIL
SYS_LOGIN_EMAIL=$EMAIL

ZPOOL_NAME='zfs_storage_pool_name'

GRUB_CFG='/etc/grub2-efi.cfg'
